<<<<<<< HEAD
*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-color: #EDF4FC;
}

.faq-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.faq-item {
    margin-bottom: 20px;
}

.question {
    font-weight: bold;
    color: #0dceb5;
    display: flex;
    align-items: center;
    
}
.question img{
    cursor: pointer;
    width: 30px;
    margin-left: 15px;
}
.answer {
    display: none;
}

.show {
    display: block;
    margin-top: 10px;
    border-left: 3px solid #0dceb5;
    padding-left: 10px;
}
=======
*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-color: #EDF4FC;
}

.faq-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.faq-item {
    margin-bottom: 20px;
}

.question {
    font-weight: bold;
    color: #0dceb5;
    display: flex;
    align-items: center;
    
}
.question img{
    cursor: pointer;
    width: 30px;
    margin-left: 15px;
}
.answer {
    display: none;
}

.show {
    display: block;
    margin-top: 10px;
    border-left: 3px solid #0dceb5;
    padding-left: 10px;
}
>>>>>>> 77235a8 (Update)
